model_config_list {
  config {
    name: "potatoes_model"
    base_path: "/Potato_Disease/saved_models"
    model_platform: "tensorflow"
    model_version_policy {
      all: {}
    }
    version_labels {
      key: "alpha"
      value: 1
    }
    version_labels {
      key: "beta"
      value: 2
    }
    version_labels {
      key: "prod"
      value: 3
    }
  }
}
